<style>
  .thumbnail-img {
    height: 150px; /* 실제 썸네일 이미지의 높이를 설정 */
    object-fit: cover; /* 이미지를 영역에 맞게 조정 */
  }
  
  .no-image-img {
    height: 150px; /* no_image.png의 높이를 다른 이미지와 동일하게 설정 */
    object-fit: contain; /* 이미지를 비율에 맞게 조정 */
  }
</style>

<div>
  <input type="text" id="searchInput" placeholder="검색어를 입력하세요" />
  <button id="searchButton">검색</button>
</div>
<div class="my-5">
  <div id="div_list" class="row"></div>
  <script id="temp_list" type="x-handlebars-template">
    {{#each documents}}
    <div class="col-6 col-md-3 col-lg-2 mb-2">
      <div class="card">
        <div class="card-body text-center">
            <img src="{{thumbnailCheck thumbnail}}" width="100" data-info="{{funInfo @this}}" class="{{thumbnailClass thumbnail}}" style="cursor:pointer;">  
        </div>
        <div class="card-footer" style="font-size:12px;">
          <div class="ellipsis">{{title}}</div>
          <div>{{price}}원</div>
        </div>    
      </div>  
    </div>
    {{/each}}  
  </script>

  <script>
    Handlebars.registerHelper("thumbnailCheck", function(thumbnail){
      return thumbnail ? thumbnail : "/public/images/no_image.png";
    });

    Handlebars.registerHelper("thumbnailClass", function(thumbnail){
      return thumbnail ? "thumbnail-img" : "no-image-img";
    });

    Handlebars.registerHelper("funInfo", function(info){
      return JSON.stringify(info);
    });
  </script>
</div>

<script>
  let query="자바";
  let page=1;
  let size=12;
  $("#searchButton").click(function(){
    query = $("#searchInput").val();  // 입력된 검색어로 query 업데이트
    getList();
  });
  getList();

  //이미지를 클릭한 경우
  $("#div_list").on("click", "img", function(){
      let info = $(this).data("info");  // data-info 속성에서 값을 가져옴
      console.log(info);
      location.href = `/kakao/book/info?title=${info.title}&thumbnail=${info.thumbnail}&isbn=${info.isbn}&price=${info.price}&authors=${info.authors}&publisher=${info.publisher}&contents=${info.contents}`;
    });

  //도서목록 함수
  function getList(){
    $.ajax({
        type:"get",
        url:"https://dapi.kakao.com/v3/search/book?target=title",
        data: {query:query, size:size, page:page},
        headers:{
            "Authorization": "KakaoAK 7dc21d5852274d162cc3c15163505083"
        },
        success:function(data){
            console.log(data);
            const temp=Handlebars.compile($("#temp_list").html());
            $("#div_list").html(temp(data));
        }
    });
    }
</script>